@font-face {
    font-family: RobotoCondensed;
    src: url("assets/fonts/RobotoCondensed-Regular.ttf");
     font-weight: 400;
}

@font-face {
    font-family: RobotoCondensed;
    src: url("assets/fonts/RobotoCondensed-Light.ttf");
    font-weight: 300;
}

   @font-face {
    font-family: RobotoCondensed;
     src: url("assets/fonts/RobotoCondensed-Bold.ttf");
     font-weight: 700;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'RobotoCondensed';
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}

h3 {
    font-weight: 300;
}

h2 {
    font-weight: 400;
}

h1 {
    font-size: 2em;
}

a {
    text-decoration: none;
}

.header {
    border: 1px solid red;
    padding: 15px;
    
}

.main {
    border: 1px solid red;
    padding: 15px;
    margin-top: 5px;
}

.footer {
    border: 1px solid red;
    padding: 15px;
    margin-top: 5px;
}

.container {
    border: 1px solid red;
    padding: 15px;
    margin-top: 5px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-weight: 700;
}

.nav-link:hover {
    transition: .3s;
    color: #19df4b;
    font-weight: 700;

}
